<!DOCTYPE html>
<meta charset="UTF-8">
<html>
<!--
Version: 0.3.0 
Hours invested: ca. 7 bis 2019-03-01
2019-04-01: 1 ;  8 
2019-04-06: 3; 	11
2019-04-07:	1.5;  12.5
2019-04-12: 1;  13.5 
2019-04-21: 1;  14.5



 --> 



<head> 
	<title> Planung und Motivation  </title>
	<script src="jquery-3.1.1.js"></script>
	<script src="angular.min.js"> </script>
	<script src="xfunctions.js"> </script>
	<link rel="stylesheet" type="text/css" href="style.css">
	<style>
	
					

	</style>
	<script> 
		var tool_list = [
			"radikale Maßnahmen",
			"clear up resources - 100% Problem",
			"Brute-Force the Problem",
			"fire and forget", 
			"All in", 
			"flankierende Maßnamen", 
			"Maßnahmenbündel", 
			"Eisberg Prinzip",
			"Fähigkeiten freischalten",
			"Mansteins Razor", 
			"Quirrels Sledgehammer", 
			"Hufflepuff Bones",
			"Throw Money at the Problem", 
			"10% Rule", 
			"30% Rule",
			"Thinking Things Done", 
			"Motivation Formula Analysis", 
			"Overkill", 
			"Overwhelming Firepower", 
			"Concentration of Forces", 
			"Call for Reinforcements",
			"put a number on it"
		]; 
		
		var zieltypen_list = [
			"Dinge, auf die ich Achten will"
		];
		
		var dinge_auf_die_ich_achten_will = [
			"confused", 
			"wenn ich aufgrund sozialer Angst etwas tue/nicht tue"
		];
	
		
	
		var app = angular.module ("mainApp", [] ); 
		
		app.controller ("BuglistController", function ($scope, $rootScope) { 
		
		
			class Category {
				constructor (name) {
					this.name = name; 
					this.color = "blue"; 
					this.contentlist = []; 
					this.item_or_cat = "master_cat";   // master_cat / sub_cat / item 
					$scope.categorylist.push (this); 
				}
				
				add_item (item) {
					this.contentlist.push (item) 
				}
				
				delete_self () {
					$scope.categorylist.remove (this);
				}
			}
			
			class Item_type {
				constructor (name, color) {
					this.name = name; 
					this.color = this.color_to_css (color); 
					$scope.typelist.push (this); 
					console.log ($scope.typelist);
				}
				
				color_to_css (color) {
					var ret = "{'color' : '" + color + "'}"; 
					return ret;
				}
				
				delete_self () {
					$scope.typelist.remove (this);
				}
			}
			
			
			class Item {
				constructor (name, category) {
					this.name = name; 
					this.color = "magenta";
					this.item_or_cat = "item";   // master_cat / sub_cat / item 
					this.category = category;
					this.item_type = "buglist_item"; 
					
					$scope.itemlist.push (this);
				}
				
				
				
				delete_self () {
					$scope.itemlist.remove (this);
				}
			}
			
			
			$scope.test = "dies ist ein test"; 
			$scope.input_function_callback = '';
			$scope.categorylist = [ ]; 
			$scope.itemlist = [];
			$scope.typelist = []; 
			$scope.color_list = ["red", "blue", "green", "orange", "yellow", "purple", "magenta", "white", "silver", "gold", "aqua"];
		
			$scope.tool_list = tool_list;
		
			$scope.input_1 = "input dummy text";
			$scope.input_color = "input dummy text";
			$scope.input_3 = "input dummy text";

			
			$scope.select_this_element = function ( event, clicked_cat_or_item) {
				$(event.target).addClass ("selected_item");
				$($scope.selected_element).removeClass ("selected_item"); // resets the OLD selected Element
				$scope.selected_element = event.target; 
				$scope.selected_category_or_item = clicked_cat_or_item; 
			}
			
			$scope.add_category_input = function () {
				$scope.input_function_callback = function () {
					console.log ("add_category function executed");
					new Category ($scope.input_1);
					$("#input_box").hide();
				}
				console.log ("selector value:  " + $scope.input_function_callback);
				$("#input_box").show();
			}
			
			
			
			
			$scope.add_item_input = function () {
				console.log ($scope.selected_element);
				/*
				if  (in_list ($scope.selected_category_or_item , [null, undefined])  ) {
					alert ("no category selected"); 
					return ; 
				}  
				
				
				if (   ! in_list ($scope.selected_category_or_item.item_or_cat, ["master_cat", "sub_cat"]) )  {
					alert ("no category selected"); 
					return ; 
				}
				*/
				$scope.input_function_callback = function () {
					console.log ("add_item function executed");
					new Item ($scope.input_1,$scope.selected_category_or_item );
					$("#input_box").hide();
				}
				$("#input_box").show();
			}
			///////////
			$scope.add_type_input = function () {
				console.log ("add_type_input function executed"); 
				$scope.input_function_callback = function () {
					new Item_type ($scope.input_1, $scope.input_color); 
					$("#input_box_type").hide();
				}
				$("#input_box_type").show();
			}
			/////////
			$scope.input_function_selector_function_2 = function () {
				console.log ("selector_function_2 executed");
				$scope.input_function_callback ();
			}
			
			$scope.delete_selected_element = function () {
				if ($scope.selected_category_or_item !== null) {
					$scope.selected_category_or_item.delete_self ();
					$scope.selected_category_or_item = null; 
				} else {
					alert ("kein element ausgewählt");
				}
				
			}
			
			//// Create some test stuff 
			new Item_type ("Normales Ziel", "blue"); 
			new Item_type ("Field of Interest", "orange");
			$scope.selected_element = null;
			var test = new Category ("test"); 
			var item_1 = new Item ("item1", test);
			var item_2 = new Item ("item x 2", test); 
			$scope.selected_category_or_item = item_1;
			
			
			
		})   // End : BuglistController
	
	</script>
	
</head>
<body> 
	<body ng-app="mainApp"> 
	<div id="windows_frame"> 
		<div id="inner_windows_frame" ng-controller="BuglistController"> 
			<div id="main_menu_bar" class="header_bar"> </div>  <!-- id="main_menu_bar"  --> 
			<div class="black_line_h"> </div>
			
			<div id="middle_row">
				<div id="left_column">
					
					<div id="left_input_field"> 
						<div>test1 </div> 
						<div ng-bind="test">  </div>
						<input type="text" ng-model="selected_category_or_item.name"> </input>
						<div>test2 </div>
						
					</div>

				</div> <!-- id="left_column" --> 
				<div class="black_line_v"> </div>
				
				<div id="middle_column" > <!-- CENTRAL ELEMENT !!! -->
					<div id="input_box" class="input_box">
						<form ng-submit="input_function_selector_function_2 ()"> 
							place input here  <br>
							<input id="input_box_input_field" type="text" ng-model="input_1" > 
							<input type="submit" id="submit" value="OK" />
						</form>
					</div> <!-- id="input_box" --> 
					<div id="input_box_type" class="input_box">
						<form ng-submit="input_function_selector_function_2 ()"> 
							<div class="input_row"> 
								<div> Name </div> 
								<div class="spacer_r"> </div>
								<input id="input_box_input_field" type="text" ng-model="input_1" > 
							</div>
							<!-- --> 
							
							<div class="input_row"> 
								<div> color </div> 
								<div class="spacer_r"> </div>
								<select id="input_box_input_field"   ng-options="color for color in color_list" ng-model="input_color" >  </select> 
							</div>
							<!-- --> 
							<div class="input_row"> 
								<div > xx </div> 
								<div class="spacer_r"> </div>
								<input id="input_box_input_field" type="text" ng-model="input_3" > 
							</div>
							<div > 
								<input type="submit" id="submit" value="OK" />
							</div>
						</form>
					</div> <!-- id="input_box_type" --> 
				
					<div id="central_left_column">  <!-- This is the working Area --> 
						
						<div id="working_area_head_pane">
							<button ng-style={{item_type.color}} ng-repeat="item_type in typelist track by $index"> {{item_type.name}} </button>
						</div> <!-- id="working_area_head_pane" --> 
						<div class="black_line_h"> </div>
						
						<div id="working_area_main"> 
							<div id="wac1" class="working_area_column"> 
								<button class="item"  ng-click="select_this_element ( $event, item)" ng-repeat="item in itemlist track by $index">  {{item.name}} </button>
							</div>
						</div> <!-- id="workin_area_main" --> 
						
					</div> <!-- id="central_left_column"-->
					
					<div id="central_middle_column">
						<button ng-click="delete_selected_element ()"> delete </button>
						<button ng-click="add_category_input()"> add category </button>
						<button ng-click="add_type_input ()"> add Type </button></button>
						<button ng-click="add_item_input()"> add item </button>
						<button ng-click="test_function_1 ()"> test function </button>
					</div> <!-- id="central_middle_column" --> 
				</div> <!-- id="middle_column" --> 
			
				<div class="black_line_v"> </div>
				<div id="right_column">
					<div ng-repeat="tool in tool_list track by $index"> {{tool}}  </div>
				</div>
			</div>
			<div class="black_line_h"> </div>
			<div id="footer_row"></div>
		</div> <!-- "inner_windows_frame" -->		
	</div> <!-- "windows_frame"   --> 
	




</body>